<footer class="footer">
    <div class="footer__container">
         <section>
           <h2 class="footer__title">Sobre</h2>
           <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae earum velit voluptatum tempora, pariatur odit, facilis provident ratione quidem rerum rem, dolorem reiciendis? Necessitatibus alias neque eius ad dolor voluptates?</p>
         </section>
         <address>
           <h2 class="footer__title">Contato</h2>
           <ul>
            <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
            <li><i class="fa-solid fa-phone"></i>(48) 99828-9858</li>
            <li><i class="fa-brands fa-whatsapp"></i>(48) 99828-9858</li>
           </ul>
         </address>
    </div>
    <section class="footer__copyright">
       &copy; todos os direitos reservados.
    </section>
</footer>
